-- CreateTable
CREATE TABLE `users` (
    `user_id` CHAR(36) NOT NULL,
    `parent_user_id` CHAR(36) NULL,
    `agency_name` VARCHAR(191) NULL,
    `phone_number` VARCHAR(191) NOT NULL,
    `role` ENUM('admin', 'mod', 'agency', 'accountant', 'user', 'customer') NULL,
    `status` ENUM('active', 'disabled') NOT NULL DEFAULT 'active',
    `custom_fields` JSON NULL,
    `last_active_at` DATETIME(0) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    UNIQUE INDEX `users_phone_number_key`(`phone_number`),
    PRIMARY KEY (`user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user_sessions` (
    `session_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,
    `refresh_token` VARCHAR(191) NOT NULL,
    `expires_at` DATETIME(0) NOT NULL,
    `ip_address` VARCHAR(191) NULL,
    `user_agent` VARCHAR(191) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `user_sessions_refresh_token_key`(`refresh_token`),
    PRIMARY KEY (`session_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `permissions` (
    `permission_id` CHAR(36) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `code` VARCHAR(191) NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    UNIQUE INDEX `permissions_code_key`(`code`),
    PRIMARY KEY (`permission_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `role_permissions` (
    `role_permission_id` CHAR(36) NOT NULL,
    `role` VARCHAR(191) NOT NULL,
    `permission_id` CHAR(36) NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    PRIMARY KEY (`role_permission_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `workers` (
    `worker_id` CHAR(36) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'ready',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    PRIMARY KEY (`worker_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `agency_workers` (
    `agency_worker_id` CHAR(36) NOT NULL,
    `agency_user_id` CHAR(36) NOT NULL,
    `worker_id` CHAR(36) NOT NULL,
    `using_by` CHAR(36) NULL,
    `status` ENUM('active', 'completed', 'revoked') NOT NULL DEFAULT 'active',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    PRIMARY KEY (`agency_worker_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `worker_usage_logs` (
    `usage_log_id` CHAR(36) NOT NULL,
    `worker_id` CHAR(36) NOT NULL,
    `agency_user_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,
    `start_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `end_at` DATETIME(0) NULL,
    `metadata` JSON NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`usage_log_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notifications` (
    `notification_id` CHAR(36) NOT NULL,
    `recipient_id` CHAR(36) NOT NULL,
    `sender_id` CHAR(36) NULL,
    `type` ENUM('system_alert', 'user_action', 'worker_assigned', 'worker_released', 'permission_changed', 'account_updated', 'custom') NOT NULL DEFAULT 'custom',
    `title` VARCHAR(191) NOT NULL,
    `body` VARCHAR(191) NOT NULL,
    `image_url` VARCHAR(191) NULL,
    `action_url` VARCHAR(191) NULL,
    `custom_fields` JSON NULL,
    `is_read` BOOLEAN NOT NULL DEFAULT false,
    `read_at` DATETIME(0) NULL,
    `expires_at` DATETIME(0) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `notifications_recipient_id_is_read_idx`(`recipient_id`, `is_read`),
    INDEX `notifications_recipient_id_created_at_idx`(`recipient_id`, `created_at` DESC),
    PRIMARY KEY (`notification_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `system_settings` (
    `key` VARCHAR(191) NOT NULL,
    `value` TEXT NOT NULL,
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`key`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_market_profiles` (
    `strategy_market_profile_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_market_profiles_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_market_profiles_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    PRIMARY KEY (`strategy_market_profile_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_action_plans` (
    `strategy_action_plan_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_action_plans_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_action_plans_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    PRIMARY KEY (`strategy_action_plan_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_features` (
    `strategy_features_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_features_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_features_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    PRIMARY KEY (`strategy_features_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_matrix` (
    `strategy_matrix_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_matrix_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_matrix_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    PRIMARY KEY (`strategy_matrix_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_factory` (
    `strategy_factory_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_factory_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_factory_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    PRIMARY KEY (`strategy_factory_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_seeding` (
    `strategy_seeding_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_seeding_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_seeding_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    PRIMARY KEY (`strategy_seeding_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_content_engine` (
    `strategy_content_engine_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_content_engine_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_content_engine_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_content_engine_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_content_engine_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_social_amplification` (
    `strategy_social_amplification_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_social_amplification_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_social_amplification_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_social_amplification_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_social_amplification_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_conversion_gateway` (
    `strategy_conversion_gateway_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_conversion_gateway_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_conversion_gateway_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_conversion_gateway_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_conversion_gateway_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_pipeline_engine` (
    `strategy_pipeline_engine_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_pipeline_engine_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_pipeline_engine_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_pipeline_engine_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_pipeline_engine_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_loyalty_loop` (
    `strategy_loyalty_loop_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_loyalty_loop_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_loyalty_loop_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_loyalty_loop_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_loyalty_loop_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_direction` (
    `strategy_direction_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_direction_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_direction_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_direction_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_direction_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_content_network` (
    `strategy_content_network_id` CHAR(36) NOT NULL,
    `business_id` VARCHAR(64) NOT NULL DEFAULT 'demo',
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `payload` JSON NOT NULL,
    `is_demo` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `deleted_at` DATETIME(0) NULL,

    INDEX `strategy_content_network_business_id_updated_at_idx`(`business_id`, `updated_at` DESC),
    INDEX `strategy_content_network_business_id_user_id_updated_at_idx`(`business_id`, `user_id`, `updated_at` DESC),
    INDEX `strategy_content_network_guest_id_idx`(`guest_id`),
    PRIMARY KEY (`strategy_content_network_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `topup_requests` (
    `topup_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,
    `amount` DECIMAL(15, 2) NOT NULL,
    `currency` VARCHAR(8) NOT NULL DEFAULT 'USD',
    `credit_amount` DECIMAL(15, 2) NOT NULL,
    `source_channel` ENUM('DIRECT', 'WHITELABEL') NOT NULL DEFAULT 'DIRECT',
    `sales_agency_uuid` CHAR(36) NULL,
    `transfer_ref` VARCHAR(64) NULL,
    `proof_note` VARCHAR(191) NULL,
    `status` ENUM('PENDING', 'APPROVED', 'REJECTED') NOT NULL DEFAULT 'PENDING',
    `submitted_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `reviewed_by` CHAR(36) NULL,
    `reviewed_at` DATETIME(0) NULL,
    `review_note` VARCHAR(191) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `topup_requests_status_submitted_at_idx`(`status`, `submitted_at` DESC),
    INDEX `topup_requests_user_id_created_at_idx`(`user_id`, `created_at` DESC),
    INDEX `topup_requests_reviewed_by_idx`(`reviewed_by`),
    PRIMARY KEY (`topup_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user_credit_balances` (
    `user_id` CHAR(36) NOT NULL,
    `available_credits` DECIMAL(15, 2) NOT NULL DEFAULT 0,
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `credit_ledger_entries` (
    `credit_entry_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,
    `topup_id` CHAR(36) NULL,
    `entry_type` ENUM('TOPUP_APPROVED', 'USAGE', 'ADJUSTMENT', 'REFUND') NOT NULL,
    `direction` ENUM('CREDIT', 'DEBIT') NOT NULL,
    `amount` DECIMAL(15, 2) NOT NULL,
    `balance_after` DECIMAL(15, 2) NOT NULL,
    `purpose` VARCHAR(191) NULL,
    `source_channel` ENUM('DIRECT', 'WHITELABEL') NOT NULL DEFAULT 'DIRECT',
    `sales_agency_uuid` CHAR(36) NULL,
    `metadata` JSON NULL,
    `created_by` CHAR(36) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `credit_ledger_entries_user_id_created_at_idx`(`user_id`, `created_at` DESC),
    INDEX `credit_ledger_entries_entry_type_created_at_idx`(`entry_type`, `created_at` DESC),
    INDEX `credit_ledger_entries_topup_id_idx`(`topup_id`),
    PRIMARY KEY (`credit_entry_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `service_packages` (
    `service_package_id` CHAR(36) NOT NULL,
    `product_code` VARCHAR(64) NOT NULL,
    `price_per_month` DECIMAL(15, 2) NOT NULL,
    `license_key_count` INTEGER NOT NULL,
    `facebook_personal_limit` INTEGER NOT NULL,
    `facebook_fanpage_limit` INTEGER NOT NULL,
    `zalo_limit` INTEGER NOT NULL,
    `tiktok_limit` INTEGER NOT NULL,
    `telegram_limit` INTEGER NOT NULL,
    `bonus` VARCHAR(255) NULL,
    `agent_discount_percent` INTEGER NOT NULL DEFAULT 0,
    `community_support` BOOLEAN NOT NULL DEFAULT true,
    `support_24_7` BOOLEAN NOT NULL DEFAULT false,
    `type` ENUM('personal', 'enterprise') NOT NULL,
    `is_popular` BOOLEAN NOT NULL DEFAULT false,
    `sort_order` INTEGER NOT NULL DEFAULT 0,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `service_packages_product_code_key`(`product_code`),
    INDEX `service_packages_type_is_active_sort_order_idx`(`type`, `is_active`, `sort_order`),
    PRIMARY KEY (`service_package_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `service_package_purchases` (
    `service_package_purchase_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,
    `service_package_id` CHAR(36) NOT NULL,
    `status` ENUM('processing', 'completed', 'failed') NOT NULL DEFAULT 'processing',
    `channel` ENUM('direct', 'agency') NOT NULL DEFAULT 'direct',
    `seller_user_id` CHAR(36) NULL,
    `license_key_count_snapshot` INTEGER NOT NULL,
    `unit_price_usd` DECIMAL(15, 2) NOT NULL,
    `total_price_usd` DECIMAL(15, 2) NOT NULL,
    `currency` VARCHAR(8) NOT NULL DEFAULT 'USD',
    `core_note_ref` VARCHAR(128) NULL,
    `failure_reason` TEXT NULL,
    `purchased_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `service_package_purchases_core_note_ref_key`(`core_note_ref`),
    INDEX `service_package_purchases_user_id_purchased_at_idx`(`user_id`, `purchased_at` DESC),
    INDEX `service_package_purchases_service_package_id_purchased_at_idx`(`service_package_id`, `purchased_at` DESC),
    INDEX `service_package_purchases_status_purchased_at_idx`(`status`, `purchased_at` DESC),
    PRIMARY KEY (`service_package_purchase_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `promotions` (
    `promotion_id` CHAR(36) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `message` TEXT NOT NULL,
    `credit_amount` DECIMAL(15, 2) NOT NULL,
    `target_type` ENUM('all', 'custom') NOT NULL DEFAULT 'all',
    `status` ENUM('draft', 'executed', 'cancelled') NOT NULL DEFAULT 'draft',
    `created_by` CHAR(36) NOT NULL,
    `executed_by` CHAR(36) NULL,
    `executed_at` DATETIME(0) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `promotions_status_created_at_idx`(`status`, `created_at` DESC),
    PRIMARY KEY (`promotion_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `promotion_user_targets` (
    `id` CHAR(36) NOT NULL,
    `promotion_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,

    UNIQUE INDEX `promotion_user_targets_promotion_id_user_id_key`(`promotion_id`, `user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `promotion_execution_logs` (
    `log_id` CHAR(36) NOT NULL,
    `promotion_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NOT NULL,
    `credit_amount` DECIMAL(15, 2) NOT NULL,
    `notified` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `promotion_execution_logs_promotion_id_idx`(`promotion_id`),
    INDEX `promotion_execution_logs_user_id_idx`(`user_id`),
    PRIMARY KEY (`log_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `strategy_session_logs` (
    `session_id` CHAR(36) NOT NULL,
    `user_id` CHAR(36) NULL,
    `guest_id` CHAR(36) NULL,
    `question` TEXT NOT NULL,
    `industry` VARCHAR(50) NULL,
    `business_size` VARCHAR(20) NULL,
    `current_tools` JSON NULL,
    `goal` VARCHAR(50) NULL,
    `chunks_used` JSON NULL,
    `actions_count` INTEGER NOT NULL DEFAULT 0,
    `model` VARCHAR(50) NULL,
    `feedback_score` INTEGER NULL,
    `feedback_note` VARCHAR(500) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `strategy_session_logs_user_id_created_at_idx`(`user_id`, `created_at` DESC),
    INDEX `strategy_session_logs_guest_id_created_at_idx`(`guest_id`, `created_at` DESC),
    INDEX `strategy_session_logs_industry_created_at_idx`(`industry`, `created_at` DESC),
    PRIMARY KEY (`session_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `users` ADD CONSTRAINT `users_parent_user_id_fkey` FOREIGN KEY (`parent_user_id`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `user_sessions` ADD CONSTRAINT `user_sessions_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `role_permissions` ADD CONSTRAINT `role_permissions_permission_id_fkey` FOREIGN KEY (`permission_id`) REFERENCES `permissions`(`permission_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `agency_workers` ADD CONSTRAINT `agency_workers_agency_user_id_fkey` FOREIGN KEY (`agency_user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `agency_workers` ADD CONSTRAINT `agency_workers_worker_id_fkey` FOREIGN KEY (`worker_id`) REFERENCES `workers`(`worker_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `agency_workers` ADD CONSTRAINT `agency_workers_using_by_fkey` FOREIGN KEY (`using_by`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `worker_usage_logs` ADD CONSTRAINT `worker_usage_logs_worker_id_fkey` FOREIGN KEY (`worker_id`) REFERENCES `workers`(`worker_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `worker_usage_logs` ADD CONSTRAINT `worker_usage_logs_agency_user_id_fkey` FOREIGN KEY (`agency_user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `worker_usage_logs` ADD CONSTRAINT `worker_usage_logs_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `notifications` ADD CONSTRAINT `notifications_recipient_id_fkey` FOREIGN KEY (`recipient_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `notifications` ADD CONSTRAINT `notifications_sender_id_fkey` FOREIGN KEY (`sender_id`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `topup_requests` ADD CONSTRAINT `topup_requests_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `topup_requests` ADD CONSTRAINT `topup_requests_reviewed_by_fkey` FOREIGN KEY (`reviewed_by`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `user_credit_balances` ADD CONSTRAINT `user_credit_balances_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `credit_ledger_entries` ADD CONSTRAINT `credit_ledger_entries_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `credit_ledger_entries` ADD CONSTRAINT `credit_ledger_entries_topup_id_fkey` FOREIGN KEY (`topup_id`) REFERENCES `topup_requests`(`topup_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `service_package_purchases` ADD CONSTRAINT `service_package_purchases_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `service_package_purchases` ADD CONSTRAINT `service_package_purchases_service_package_id_fkey` FOREIGN KEY (`service_package_id`) REFERENCES `service_packages`(`service_package_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotions` ADD CONSTRAINT `promotions_created_by_fkey` FOREIGN KEY (`created_by`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotions` ADD CONSTRAINT `promotions_executed_by_fkey` FOREIGN KEY (`executed_by`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotion_user_targets` ADD CONSTRAINT `promotion_user_targets_promotion_id_fkey` FOREIGN KEY (`promotion_id`) REFERENCES `promotions`(`promotion_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotion_user_targets` ADD CONSTRAINT `promotion_user_targets_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotion_execution_logs` ADD CONSTRAINT `promotion_execution_logs_promotion_id_fkey` FOREIGN KEY (`promotion_id`) REFERENCES `promotions`(`promotion_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotion_execution_logs` ADD CONSTRAINT `promotion_execution_logs_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

